<IfModule mod_negotiation.c>
    Options -MultiViews -Indexes
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Környezeti változók beállítása
    RewriteRule .* - [E=HTTP_IF_NONE_MATCH:%{HTTP:If-None-Match}]
    RewriteRule .* - [E=HTTP_IF_MODIFIED_SINCE:%{HTTP:If-Modified-Since}]
    RewriteBase /

    # FONTOS: Storage mappa fájljait közvetlenül szolgáljuk ki
    RewriteCond %{REQUEST_URI} ^/storage/
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Ha a kért fájl vagy mappa létezik, szolgáljuk ki közvetlenül
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # PATH_INFO beállítása
    RewriteRule .* - [E=PATH_INFO:/$0]
    RewriteCond %{ENV:REDIRECT_PATH_INFO} (.+)
    RewriteRule .* - [E=PATH_INFO:%1,E=!REDIRECT_PATH_INFO]

    # Minden más kérést az index.php-hez irányítunk
    RewriteRule ^ index.php [L]

    # Authorization header kezelése
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
